*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: black;
    color: white;
}

.navbar > a{
    text-transform: uppercase;
    background-color: #37bcf9;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar div a{
    color: #ccc;
    font-weight: bolder;
    font-size: 20;
}